/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/* Defaults */
h1,
h2,
a {
	font-family: "MuseoModerno", cursive;
}
p,
button {
	font-family: "Varela Round", sans-serif;
}
h1,
h2 {
	cursor: default;
}

.btn {
	margin: 5px;
}
/* Navbar */
.navbar {
	background-color: black;
	border-bottom: 2px solid purple;
}
.nav-link {
	color: white !important;
}
.nav-link:hover {
	color: purple !important;
	border-radius: 5%;
	text-shadow: 0px 10px 5px purple;
}

/* Main Section */
#main {
	position: relative;
	height: 100vh;
	color: white;
}
#main h1 {
	font-size: 6vw;
	width: 5vw;
	position: absolute;
	top: 22vh;
	padding: 15px;
}
#main h2 {
	position: absolute;
	text-align: center;
	top: 25vh;
	right: 5vw;
	font-size: 5.5vw;
	padding: 15px;
}
#main button {
	font-size: 1.5vw;
}
#btn1 {
	position: absolute;
	top: 70vh;
	left: 5vw;
	margin-left: 5vw;
}
#btn2 {
	position: absolute;
	right: 5vw;
	top: 70vh;
	margin-right: 5vw;
}

/* About */
#about {
	position: relative;
	padding-top: 7vh;
	height: 100vh;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("../src/imgs/showy2.gif") center/70% no-repeat;
	background-color: rgb(35, 22, 46);
}
.row {
	margin-top: 7vh;
}
#about p {
	width: 50vw;
	padding: 5px;
	font-size: 1.5vw;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid black;
	border-radius: 10px;
}
.resize {
	width: 25%;
	padding: 10px;
	margin: 0px 20px;
}
.resize2 {
	width: 100%;
	padding: 10px;
}
#skill {
	animation-duration: 20.5s;
}
#skills {
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	right: 5vw;
	border: 2px solid black;
	border-radius: 10px;
	animation-duration: 10.5s;
}
#skills img {
	animation-duration: 10.5s;
}

/* Portfolio */
#portfolio {
	position: relative;
	padding-top: 7vh;
	height: 100vh;
	color: white;
	background-color: black;
	text-align: center;
}
#portfolio .col-md-4 h1 {
	cursor: pointer;
	font-size: 2vw;
}

/* Fullstack */
#backend,
#fullstack,
#frontend,
#contact {
	position: relative;
	padding-top: 8vh;
	height: 100vh;
	color: white;
	background-color: black;
	text-align: center;
}

/* Responsive media queries */
@media screen and (max-width: 1024px) {
	#main h1,
	#main h2 {
		top: 35vh;
	}
	#btn1,
	#btn2 {
		top: 60vh;
	}
	#main h2 {
		right: 0;
	}
	#about {
		background-size: cover;
	}
}
@media screen and (max-width: 768px) {
	#about p {
		font-size: 2vw;
	}

	#portfolio img {
		width: 25%;
	}
}
@media screen and (max-width: 765px) {
	.resize,
	.resize2,
	#portfolio img {
		width: 20%;
	}
	#skills {
		position: absolute;
		bottom: 5vh;
		margin: auto;
		width: 80%;
	}
	#about p {
		font-size: 3vw;
	}
	p {
		font-size: 2vw;
	}
}
@media screen and (max-width: 440px) {
	.resize2 {
		width: 50%;
	}
}
